<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.min.css">
    <script src="./src/include/vue.js"></script>
    <title>le title</title>
</head>
<body>
    
<div id="game">
    <div id="left">
        <button onclick="clearLocal()">Clear localstorage(just for production)</button> <hr>
        <input type="number" v-model="add_cookies_cheat">
        <button v-on:click="cookies += parseInt(add_cookies_cheat)">add cookies</button>
    </div>

    <div id="center">
        <div id="container">
            <div id="cookie" v-on:click="cookies += cpc"></div>
        </div>
        <div id="cps">CPS: {{ cps.toFixed(1) }}</div>
            <div id="counter">{{ floor(cookies) }}</div>
            <div id="milk_container"> 
                <div id="milk"></div>
            </div>
    </div>

    
    <div id="right">
        <div id="amount">
            <input type="radio" v-model="item_amount_ordered" value="1" id="radial_1x" checked>
            <label for="radial_1x">1x</label>
            <input type="radio" v-model="item_amount_ordered" value="10" id="radial_10x">
            <label for="radial_10x">10x</label>
            <input type="radio" v-model="item_amount_ordered" value="100" id="radial_100x">
            <label for="radial_100x">100x</label>
        </div>
        <div 
            v-for="(item, index) in items" :key="index" 
            class="item"
            :class="{'purchasable' : cookies >= cost(item) }"     
            v-on:click="order(index, $event)"
        >
            <div class="item-img">

            </div>

            <div class="item-left">
                {{ item.title }}<br>
                {{ cost(item) }}
            </div>

            <div class="item-right">
                {{ item.amount }}
            </div>
        </div>
    </div>

</div>

</div>
<script src="main.js"></script>
</body>
</html>