@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

$display-font: 'Concert One', cursive;
$main-color: rgb(43, 188, 255);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $display-font;
}

#game {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "left center right";
    text-align: center;
    margin: auto;
    height: 100%;


    #left {
        grid-area: "left";
    }

    #center {
        grid-area: "center";
        margin-top: 15vh;
    }

    #right {
        grid-area: "right";
        width: 100%;
        height: 100%;
        background: $main-color;
    }

    #counter {
        font-size: 4em;
    }
}

#container {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;

    #cookie {
        /* - setting the size of le cookie - */
        width: 20rem;
        height: 20rem;
        transform-origin: center;
        margin: auto;

        /* - background image for cookie - */
        background-image: url('src/images/cookie.png');
        background-size: contain;

        /* - transition for ez animations - */
        transition: .2s;

        /* - on hover make mouse point - */
        &:hover {
            cursor: pointer;
        }

        /* on click */
        &:active:hover {
            transform: scale(80%);
        }
    }
    
    
}

.item {
    /* - border - */
    border: solid 7px #f7f7f7;
    border-radius: 17px;

    /* - gridding - */
    display: grid;
    grid-template-columns: "40% 60%";
    grid-template-areas: "left right";
    
    /* - sizing - */
    padding: 2em;
    margin: .5em;
    
    /* - text - */
    font-size: 1.5em;
    color: #f7f7f7;
    text-align: center;

    /* - background - */
    background: lighten($main-color, 25%);

    /* - when item is purchasable by player - */
    &.purchasable {
        background: $main-color;
        opacity: 100%;
    }

    /* - left side - */
    .item-left {
        text-align: center;
        grid-area: left;
    }

    /* - right side - */
    .item-right {
        text-align: right;
        grid-area: right;
    }
    
    /* - on hover make mouse point - */
    &:hover {
        cursor: pointer;
    }
}