@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

$display-font: 'Concert One', cursive;
$main-color: rgb(43, 188, 255);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $display-font;
    overflow: hidden;
}

#game {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "left center right";
    margin: auto;
    height: 100vh;
    overflow: hidden;
    text-align: center;

    #left {
        grid-area: "left";
        z-index: 1;
        background-color: darken($main-color, 10%);
    }

    #center {
        grid-area: "center";
        padding-top: 15vh;
        background-color: $main-color;
        overflow: hidden;
    }

    #right {
        grid-area: "right";
        z-index: 1;
        /* - scroll - */
        overflow-y: scroll;
        /* - dimensions - */
        width: 100%;
        height: 100%;
        background: darken($main-color, 10%);
    }

    #counter {
        font-size: 4em;
    }
}

#container {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;

    #cookie {
        /* - setting the size of le cookie - */
        width: 20rem;
        height: 20rem;
        transform-origin: center;
        margin: auto;

        /* - background image for cookie - */
        background-image: url('src/images/cookie.png');
        background-size: contain;

        /* - transition for ez animations - */
        transition: .2s;

        /* - on hover make mouse point - */
        &:hover {
            cursor: pointer;
        }

        /* on click */
        &:active:hover {
            transform: scale(80%);
        }
    }
}

#milk_container {
    overflow: hidden;
    z-index: -1;
    
    #milk {
        /* - milk with animation - */
        position: absolute;
        overflow: hidden;
        background-color: #ffffffee;
        height: 40vh;
        width: 100vw;
        clip-path: polygon(51% 29%, 69% 35%, 86% 29%, 100% 35%, 100% 100%, 0 100%, 0 35%, 16% 29%, 32% 35%);
        animation: milkflow 3.2s linear infinite alternate;
    }
}

.item {
    /* - border - */
    border: solid 7px #f7f7f7;
    border-radius: 17px;

    /* - gridding - */
    display: grid;
    grid-template-columns: "40% 60%";
    grid-template-areas: "left right";
    
    /* - sizing - */
    padding: 2em;
    margin: .5em;
    
    /* - text - */
    font-size: 1.5em;
    color: #f7f7f7;
    text-align: center;

    /* - background - */
    background: lighten($main-color, 25%);

    /* - when item is purchasable by player - */
    &.purchasable {
        background: $main-color;
        opacity: 100%;
    }

    /* - left side - */
    .item-left {
        text-align: center;
        grid-area: left;
    }

    /* - right side - */
    .item-right {
        text-align: right;
        grid-area: right;
    }
    
    /* - on hover make mouse point - */
    &:hover {
        cursor: pointer;
    }
}

/* - radial buttons - */
#amount {
    transition: background-color 10s; // not work

    label {
        display: inline-block;
        background-color: lighten($main-color, 60%);
        padding: 8px 10%;
        font-size: 150%;
        border: 2px solid darken($main-color, 40%);
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: lighten($main-color, 10%);
        }
    }

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;

        &:checked + label {
            background-color: lighten($main-color, 25%);
            border-color: darken($main-color, 25%);

            &:hover {
                background-color: lighten($main-color, 10%);
            }
        }

        &:focus + label {
            border: 2px solid darken($main-color, 40%);
        }
    }
    

}

/* - milky animation - */
@keyframes milkflow {
    from {left: -20%;}
    to {left: 20%;}
}